{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Dr. Garfield Young, D.D.S.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Dr. Garfield Young, D.D.S.</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/favicon_test2.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="1616 Packard Rd, Ann Arbor, MI 48104"><i class="fa fa-map-marker"></i> <span>1616 Packard Rd, Ann Arbor, MI 48104</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="info@garfieldyoungdds.com"><i class="fa fa-envelope"></i> <span>info@garfieldyoungdds.com</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="http://www.facebook.com/garfieldyoungdds" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="http://www.twitter.com/garfieldyoungdds" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="http://www.instagram.com/garfieldyoungdds" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="http://www.linkedin.com/garfieldyoungdds" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start --> 
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/garfield_logo_new7.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'home' %}">- Home</a></li>
                      <li><a href="{% url 'about' %}">- About</a></li>
                      <li><a href="{% url 'service' %}">- Services</a>
                        <ul class="dropdown">
                          <li><a href="{% url 'cleaning' %}">- Teeth Cleaning</a></li>
                          <li><a href="{% url 'missing' %}">- Missing/Chip Teeth</a></li>
                          <li><a href="{% url 'whitening' %}">- Whitening</a></li>
                          <li><a href="{% url 'cosmetic' %}">- Cosmetic Dentistry</a></li>
                          <li><a href="{% url 'tpain' %}">- Tooth Pain</a></li>
                          <li><a href="{% url 'surgery' %}">- Oral Surgery</a></li>
                        </ul>
                      </li>
                      <li><a href="{% url 'home' %}#pricing">- Pricing</a></li>
                      <li><a href="{% url 'home' %}#news">- News</a></li>
                      <li><a href="{% url 'contact' %}">- Contact</a></li>
                      <li><a href="#">- Patient Info</a>
                        <ul class="dropdown">
                          <li><a href="#">- Apply For Finance</a>
                            <ul class="dropdown">
                              <li><a href="{% url 'credit' %}">- CareCredit Finance</a></li>
                              <li><a href="{% url 'lending' %}">- Lending Club</a></li>
                            </ul>
                          </li>
                          <li><a href="{% url 'insurance' %}">- Insurance</a></li>
                          <li><a href="#">- Helpful Info</a>
                            <ul class="dropdown">
                              <li><a href="{% url 'policy' %}">- Office Policy</a></li>
                              <li><a href="{% url 'faqs' %}">- FAQs</a></li>
                              <li><a href="{% url 'privacy' %}">- Privacy Policy</a></li>
                              <li><a href="{% url 'gallery' %}">- Smile Gallery</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'service' %}">Services</a></li>
                  <li><a href="{% url 'home' %}#pricing">Pricing</a></li>
                  <li><a href="{% url 'home' %}#news">News</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            <a href="{% url 'home' %}#booking" class="btn dento-btn booking-btn">Booking Now</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  {% if your_name %}
    <center><h3>Thanks for contacting us {{ your_name }}!</h3>
      <br/>
    We have received your message and will contact you as soon as possible.</center>
      <br/>
  {% endif %}

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url('{% static 'website/img/bg-img/home_backgroundpic_1a.jpg' %}');">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="400ms">We Believe Everyone Should Have Easy Access To Great Dental Care</h2>
                <p data-animation="fadeInUp" data-delay="600ms">As a leader in the industry, Dr. Garfield Young is passionate about expanding equitable access to dental care. Great dental care is not out of reach! Contact us to see what we have to offer you.</p>
                <div class="welcome-btn-group">
                  <a href="{% url 'home' %}#ourpractice" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Get Started</a>
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url('{% static 'website/img/bg-img/home_backgroundpic_2b.jpg' %}');">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="400ms">We Believe Everyone Should Have Equal Opportunities To Advance</h2>
                <p data-animation="fadeInDown" data-delay="600ms">As an innovator and industry pioneer, Dr. Garfield Young is always pursuing exciting new opportunities for dental professionals, suppliers & the Ann Arbor community. Contact us for upcoming opportunities.</p>
                <div class="welcome-btn-group">
                  <a href="{% url 'home' %}#ourpractice" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Get Started</a>
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** Our Practice Area Start ******* --> 
  <a name="ourpractice"></a><section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/about_backgroundpic_2.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Our Practice</h2>
              <div class="line"></div>
            </div>
            <p>We are a dental practice comprised of various dentists and support staff, under Dr. Garfield Young's vision and leadership. We are devoted to restoring and enhancing the natural beauty of your smile using conservative, state-of-the-art procedures that result in beautiful, long lasting smiles!</p>
            <p>As your dental health professionals, we want you to be confident knowing that we are a team of highly trained and skilled clinicians. We pride ourselves in our ability to provide you with the care you need to keep your smile healthy. To give you the best possible service and results, we are committed to continual education and learning. We attend dental lectures, meetings, and dental conventions to stay informed of new techniques, the latest products, and the newest equipment that a modern dental office can utilize to provide state-of-the-art dental care. Also, being members of various professional dental associations enables us to stay on top of the latest changes and recommendations for our profession.</p>
            <p>Building a foundation of trust by treating our patients as special individuals is vital to our success. We understand how uneasy some patients can feel about their dental visits, and we know that we can make a difference by providing a relaxing and positive experience. With Dr. Young's leadership, our entire team is dedicated to providing you with excellent, personalized care and service to make your visits as comfortable and pleasant as possible.</p>
            <p><strong>In a recent poll conducted across our practice, we identified the following areas that mattered most to our patients:</strong></p>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Experienced Dentistry</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="85"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Modern Patient-First Approach</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="75"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Friendly Staff</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="95"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Our Practice Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">150</span>+</h2>
            <h5>Years Of Combined Experience</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">12,000</span>+</h2>
            <h5>Happy Patients</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">18</span></h2>
            <h5>Board Certifications & Licenses</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">6</span></h2>
            <h5>Dentists</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- Dento Service Area Start --> 
  <a name="service"></a>
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/13.jpg' %}');">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <a href="{% url 'service' %}"><h2>Our Services</h2></a>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <a href="{% url 'cleaning' %}"><img src="{% static 'website/img/core-img/s1.png' %}" alt=""></a>
                  <h6>Teeth Cleaning</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <a href="{% url 'missing' %}"><img src="{% static 'website/img/core-img/s2.png' %}" alt=""></a>
                  <h6>Missing or Chipped Teeth</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <a href="{% url 'whitening' %}"><img src="{% static 'website/img/core-img/s3.png' %}" alt=""></a>
                  <h6>Whitening</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <a href="{% url 'cosmetic' %}"><img src="{% static 'website/img/core-img/s4.png' %}" alt=""></a>
                  <h6>Cosmetic Dentistry</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <a href="{% url 'tpain' %}"><img src="{% static 'website/img/core-img/s5.png' %}" alt=""></a>
                  <h6>Tooth Pain</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <a href="{% url 'surgery' %}"><img src="{% static 'website/img/core-img/s4.png' %}" alt=""></a>
                  <h6>Oral Surgery</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Area -->
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <iframe src="https://player.vimeo.com/video/258144198" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Service Area End -->

  <!-- Dento Pricing Table Area Start --> <!--{% static 'website/' %}-->
  <a name="pricing"></a><section class="dento-pricing-table-area section-padding-100">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>General Pricing Guide</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Procedure</th>
                  <th scope="col">Application</th>
                  <th scope="col">Patient Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Teeth Whitening Service at Home</th>
                  <td>1 time</td>
                  <td>$315.00</td>
                </tr>
                <tr>
                  <th scope="row">Teeth Whitening Service at Dental Office</th>
                  <td>1 time</td>
                  <td>$600.00</td>
                </tr>
                <tr>
                  <th scope="row">Ceramic (porcelain) crowns and fillings</th>
                  <td>1 tooth</td>
                  <td>$150.00</td>
                </tr>
                <tr>
                  <th scope="row">Remove crown, bridge</th>
                  <td>1 tooth</td>
                  <td>$250.00</td>
                </tr>
                <tr>
                  <th scope="row">Treatment of gum recession</th>
                  <td>1 time</td>
                  <td>$400.00</td>
                </tr>
                <tr>
                  <th scope="row">Consultation, impressions and preparation of models</th>
                  <td>1 time</td>
                  <td>$235.00</td>
                </tr>
                <tr>
                  <th scope="row">Removal of an old inlay, old crown</th>
                  <td>1 tooth</td>
                  <td>$350.00</td>
                </tr>
                <tr>
                  <th scope="row">Overlay teeth whitening (2 arches)</th>
                  <td>1 time</td>
                  <td>$270.00</td>
                </tr>
                <tr>
                  <th scope="row">Standard porcelain and zirconium crown on implant</th>
                  <td>1 tooth</td>
                  <td>$1499.00</td>
                </tr>
                <tr>
                  <th scope="row">Adding an implant (price depends on system used)</th>
                  <td>1 tooth</td>
                  <td>$2600.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="{% url 'contact' %}" class="btn dento-btn">Apply For  <i class="fa fa-credit-card-alt" aria-hidden="true"></i>  ?</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dento Pricing Table Area End -->

  <!-- Book An Oppointment Area Start -->
  <a name="booking"></a>
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/home_backgroundpic_3a.jpg' %}');">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Schedule An Apointment</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- Appointment Form -->
          <div class="appointment-form">
            <form action="{% url 'home' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-name" class="form-control" placeholder="First and Last Name" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-phone" class="form-control" placeholder="Phone Number" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="email" name="your-email" class="form-control" placeholder="Email Address" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input type="text" name="your-address" class="form-control" placeholder="Home Address">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-schedule" class="form-control">
                      <option value="Choose Your Appt: Mon-Wed">Choose Your Appt: Mon-Wed</option>
                      <option value="9 AM to 10 AM">9 AM to 10 AM</option>
                      <option value="10 AM to 11 AM">10 AM to 11 AM</option>
                      <option value="11 AM to 12 PM">11 AM to 12 PM</option>
                      <option value="12 PM to 1 PM">12 PM to 1 PM</option>
                      <option value="2 PM to 3 PM">2 PM to 3 PM</option>
                      <option value="3 PM to 4 PM">3 PM to 4 PM</option>
                      <option value="4 PM to 5 PM">4 PM to 5 PM</option>
                      <option value="5 PM to 6 PM">5 PM to 6 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <select name="your-time" class="form-control">
                      <option value="Choose Your Appt: Thu-Fri">Choose Your Appt: Thu-Fri</option>
                      <option value="9:30 AM to 10:30 AM">9:30 AM to 10:30 AM</option>
                      <option value="10:30 AM to 11:30 AM">10:30 AM to 11:30 AM</option>
                      <option value="11:30 AM to 12:30 PM">11:30 AM to 12:30 PM</option>
                      <option value="12:30 PM to 1:30 PM">12:30 PM to 1:30 PM</option>
                      <option value="2:30 PM to 3:30 PM">2:30 PM to 3:30 PM</option>
                      <option value="3:30 PM to 4:30 PM">3:30 PM to 4:30 PM</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-30">
                    <textarea name="your-message" class="form-control" placeholder="Additional Comments"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Book Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book An Oppointment Area End -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Dentists</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area --> 
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/9.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/mariobilottidds"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/mariobilottidds"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/mariobilottidds"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Dr. Mario Bilotti</h5>
                <p>Periodontology</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area --> 
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/dentist_2.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/garfieldyoungdds"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/garfieldyoungdds"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/garfieldyoungdds"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Dr. Garfield Young</h5>
                <p>General Dentistry, PhD Pharmacology</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area --> 
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/dentist_3.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/abigaillouisdds"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/abigaillouisdds"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/abigaillouisdds"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Dr. Abigail Louis</h5>
                <p>Pediatric Dentistry</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area --> 
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/dentist_4r.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/jenniferkimdds"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/jenniferkimdds"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/jenniferkimdds"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Dr. Jennifer Kim</h5>
                <p>Endodontist</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area --> 
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/dentist_5.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/michaelbarleydds"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/michaelbarleydds"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/michaelbarleydds"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Dr. Michael Barley</h5>
                <p>Orthodontist</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area --> 
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/dentist_6.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/odieayatidds"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/odieayatidds"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/odieayatidds"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Dr. Odie Ayati</h5>
                <p>Oral and Maxillofacial Surgery</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

  <!-- ***** Testimonials Area Start ***** --> 
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/7.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I've been avoiding the dentist for years due to bad experiences. A reminder text was sent the day before my appointment. I also received a friendly call to confirm my appointment. I've been a patient ever since. Dr. Bilotti and Dr. Kim were very reassuring and helpful. Excellent treatment and advice!”</h5>
                <h6>Alex Ramsey</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/headshot_2.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I have been visiting Dr. Garfield Young's practice for 5 years. They were recommended to me by a co-worker. The practice is well organized, professional, and they do a wonderful job at explaining things to you. They are very welcoming, so there is a warm, comforting bed side manner. The general dentist can be sort of awkward, but they are great. I highly recommend them!”</h5>
                <h6>Natasha Breneman</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide --> 
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/headshot_1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“I like going to the dentist. Everyone is professional and makes me feel important. I have been a patient for many years and recommend Dr. Garfield Young & Dr. Odie Ayati to everyone. You won't get better dental care anywhere!”</h5>
                <h6>Jon Arbuckle</h6>
                <p>Dental Patient</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <a name="news"></a>
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>The Latest News</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item --> 
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="https://www.medicalnewstoday.com/articles/322796">
              <img src="{% static 'website/img/bg-img/home_newspic_1a.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.medicalnewstoday.com/articles/322796" class="post-title">How your mouth bacteria can harm your lungs</a>
              <p>New research in a medical journal examines the effects of poor dental hygiene on respiratory health.</p>
              <div class="post-meta">
                <a href="https://www.medicalnewstoday.com/articles/322796"><i class="icon_clock_alt"></i> 20 Jan 2021</a>
                <a href="https://www.medicalnewstoday.com/articles/322796"><i class="icon_chat_alt"></i> 8 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item --> 
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="https://www.ada.org/en/science-research/ada-seal-of-acceptance/ada-seal-shopping-list">
              <img src="{% static 'website/img/bg-img/home_newspic_2a.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.ada.org/en/science-research/ada-seal-of-acceptance/ada-seal-shopping-list" class="post-title">What is the best kind of toothpaste to use?</a>
              <p>Which ones are accepted Over-the-Counter products with the ADA Seal of Approval? Find out!</p>
              <div class="post-meta">
                <a href="https://www.ada.org/en/science-research/ada-seal-of-acceptance/ada-seal-shopping-list"><i class="icon_clock_alt"></i> 20 Feb 2020</a>
                <a href="https://www.ada.org/en/science-research/ada-seal-of-acceptance/ada-seal-shopping-list"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item --> 
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="https://www.medicalnewstoday.com/articles/321043">
              <img src="{% static 'website/img/bg-img/home_newspic_3a.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.medicalnewstoday.com/articles/321043" class="post-title">Why you should avoid sipping your drinks</a>
              <p>If you are sipping hot fruit tea as you read this, you might want to rethink your drinking technique.</p>
              <div class="post-meta">
                <a href="https://www.medicalnewstoday.com/articles/321043"><i class="icon_clock_alt"></i> 28 Oct 2020</a>
                <a href="https://www.medicalnewstoday.com/articles/321043"><i class="icon_chat_alt"></i> 5 Comments</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

  <!-- ***** Footer Area Start ***** --> 
  <footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/home_backgroundpic_4b.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget"> 
            <a href="{% url 'home' %}" class="d-block mb-4"><img src="{% static 'website/img/core-img/garfield_logo_new7.png' %}" alt=""></a>
            <p>We are devoted to restoring and enhancing the natural beauty of your smile using conservative, state-of-the-art procedures that result in a beautiful, long lasting smile!</p>
            <div class="footer-contact">
              <p><i class="icon_pin"></i> 1616 Packard Rd, Ann Arbor, MI 48104 USA</p>
              <p><i class="icon_phone"></i> 734-668-1616</p>
              <p><i class="icon_mail"></i> info@garfieldyoungdds.com</p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Opening Hours</h5>

            <!-- Opening Hours -->
            <ul class="opening-hours">
              <li><span>Mon-Wed</span> <span>9:00AM-6:00PM</span></li>
              <li><span>Thu-Fri</span> <span>9:30AM-4:30PM</span></li>
              <li><span>Sat</span> <span>By Appt Only</span></li>
              <li><span>Sun</span> <span>Closed</span></li>
              <li><span>Holidays</span> <span>Closed</span></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Quick Links</h5>

            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'faqs' %}">FAQs</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'policy' %}">Policy</a></li>
                <li><a href="{% url 'home' %}#news">News</a></li>
                <li><a href="{% url 'home' %}#ourpractice">Our Practice</a></li>
                <li><a href="{% url 'gallery' %}">Smile Gallery</a></li>
                <li><a href="{% url 'insurance' %}">Insurance</a></li>
                <li><a href="{% url 'service' %}">Services</a></li>
                <li><a href="{% url 'privacy' %}">Privacy</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Garfield's Digest</h5>

            <p>We will send out weekly news articles and some great offers!</p>
            <!-- Newsletter Form -->
            <div class="footer-newsletter-form">
              <!-- <form action="#" method="post"> # removed for now, but will work on later
                {% csrf_token %} -->
                <input type="email" name="nl-email" value="" placeholder="Email Address">
                <!-- <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </form> -->
                <a href="{% url 'home' %}"><button><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>

            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="https://www.facebook.com/garfieldyoungdds" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.twitter.com/garfieldyoungdds" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/garfieldyoungdds" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/garfieldyoungdds" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website was built by Front-End Vision & Designs, LLC</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js --> <!--{% static 'website/' %}-->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>